MONGODB_URL=
REDIS_URL=redis://localhost:6379
REDIS_SESSION_BUFFER_MINUTES=10
SESSION_SWEEP_INTERVAL_SECONDS=30
PORT=8000
FRONTEND_URL=http://localhost:3000
NODEMAILER_MAIL=
NODEMAIL_APP_PASSWORD=
JWT_TOKEN_SECRET=
JWT_TOKEN_SIGNUP_MAIL_SECRET=
JWT_RESET_PASSWORD_SECRET=